:root
{
    --icon-length: 20px;
    --icon-thickness: 5px;
    --icon-position: 4rem;
}

.button-sticky
{
    position: sticky;
    top: 0;

    align-self: flex-start;
}

.add-task-btn
{

    background: none;
    border: none;

    position: relative;
    top: calc(var(--nav-height) + 0rem);
    height: var(--icon-length);
    width: var(--icon-length);
    padding: 20px;
    margin: 0rem 0rem var(--nav-height) 0rem;

    border-radius: 1px;
    outline: 1px solid blue;
    transform: scale(1);
    transition: scale 0.25s ease,
                background-color 0.25s ease;
   
}

    .add-task-btn::before,
    .add-task-btn::after
    {
        display: block;
        content: "";
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%)
                    scale(1);
        height: var(--icon-length);
        width: var(--icon-thickness);
        
        border-radius: 2px;

        background-color: blue;
    }

    .add-task-btn::after
    {
        transform:  translate(-50%, -50%)
                    scale(1)
                    rotate(90deg);
    }

        .add-task-btn:hover
        {
            background-color: blue;
        }

        .add-task-btn:hover::before,
        .add-task-btn:hover::after
        {
            background-color: white;
        }

        .add-task-btn:active
        {
            transform: scale(0.95);
        }



