#task-area
{

    display: flex;
    justify-content: center;
    gap: 3rem;
    overflow-y: visible;
    max-height: calc(500px + var(--nav-height));
    background-color: rgba(0, 0, 255, 0.106);
    padding:calc( var(--nav-height) + 0px);
}

#generate-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: calc(var(--nav-height) + 0rem);

}

.form-wrapper
{
    display: flex;
    align-items: center;
    position: relative;
    
    background-color: rgba(0, 0, 0, 0.129);
    padding: 1rem;

    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.input-task
{
    width: 50vw;
}
    .input-task[type="text"],
    .input-hour[type="number"]
    {
        height: 30px;
    }

    .input-task[type="text"]
    {
        padding-left: 1rem;
    }


    .input-hour[type="number"]
    {
        -moz-appearance: textfield;
        appearance: textfield;

        width: 6vw;
        text-align: center;
    }

    .input-hour[type="number"]::-webkit-inner-spin-button,
    .input-hour[type="number"]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
    }
   

.remove-task-btn
{
    position: relative;
    background: none;
    border: none;
    margin-left: 20px;
    height: 30px;
    width: 30px;

    transition: outline 0.25 ease;
    outline: 1px solid blue;
    border-radius: 50px;

}

.label-hour
{
    margin: 0 0.5rem 0 1rem;
}

.label-task
{
    margin-right: 0.5rem;
}

.remove-task-btn::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    width: 15px;
    height: 4px;
    background: blue;
    transition: background 0.25s ease;

}

    .remove-task-btn:hover
    {
        outline: 1px solid red;
    }

    .remove-task-btn:hover::after
    {
        background: red;
    }

    .remove-task-btn:active::after
    {
        outline: 3px solid red;
        outline-offset: -1px;
        z-index: 10;
    }



.box
{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.boxes
{
    margin-bottom: 3rem;
}