#task-area
{

    display: flex;
    justify-content: center;
    gap: 3rem;


    overflow-y: visible;

    max-height: calc(500px + var(--nav-height));
    padding:calc( var(--nav-height) + 0px);

    background-color: rgba(0, 0, 255, 0.106);
   
}

#generate-form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    overflow-y: auto;
    overflow-x: hidden;

    height: auto;
    margin-top: calc(var(--nav-height) + 0rem);

}

.form-wrapper
{
    display: flex;
    align-items: center;

    position: relative;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;

    border-radius: 1rem;

    background-color: rgba(0, 0, 0, 0.129);
}

.input-task
{
    width: 50vw;
}
    .input-task[type="text"],
    .input-hour[type="number"]
    {
        height: 30px;
    }

    .input-task[type="text"]
    {
        padding-left: 1rem;
    }


    .input-hour[type="number"]
    {
        -moz-appearance: textfield;
        appearance: textfield;

        width: 6vw;

        text-align: center;
    }

    .input-hour[type="number"]::-webkit-inner-spin-button,
    .input-hour[type="number"]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
    }
   

.remove-task-btn
{
    background: none;
    border: none;

    position: relative;
    height: 30px;
    width: 30px;
    margin-left: 20px;

    border-radius: 50px;
    outline: 1px solid blue;
    transition: outline 0.25s ease,
                border-radius 0.15s ease;
    
    

}

.label-hour
{
    margin: 0 0.5rem 0 1rem;
}

.label-task
{
    margin-right: 0.5rem;
}

.remove-task-btn::after
{
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: background 0.25s ease;
    
    width: 15px;
    height: 4px;

    background: blue;
}

    .remove-task-btn:hover
    {
        border-radius: 5px;
        outline: 1px solid red;
        
    }

    .remove-task-btn:hover::after
    {
        background: red;
    }

    .remove-task-btn:active::after
    {
        outline: 3px solid red;
        outline-offset: -1px;
        z-index: 10;
    }



.box
{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;

    background-color: blueviolet;
    
}

.boxes
{
    margin-bottom: 3rem;
}