@import url(./reset.css);
@import url(./add-form-btn.css);
@import url(./fomular-element.css);
@import url(./nav.css);


*
{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-transform: uppercase;
    font-family: "Space Grotesk", sans-serif;
}

