:root
{
    --nav-height: 5rem;
}

nav
{
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--nav-height);
    z-index: 20;
    background-color: blue;
}

#nav__flex
{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

.nav__flex-name
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#nav__flex > li
{
    list-style: none;
    
}

#nav__flex > li > a
{
    padding: 0.3rem;
    text-decoration: none;
    color: white;
}


#company-name
{
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

#app-name
{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}





